/*
Theme Name: True Place V2
Theme URI: http://www.turnbullripley.co.uk
Author: TurnbullRipley
Author URI: http://www.turnbullripley.co.uk
Description: Developed for True Place Consulting
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: True Place v2
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

TruePlaceV2 is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
## Style 21-07-2016
--------------------------------------------------------------*/


@font-face {
	font-family: Multicolore;
	src: url('/assets/2016/fonts/Multicolore.otf');
	src: url('/assets/2016/fonts/Multicolore.otf?iefix') format('opentype');
}
body{
	font-family: 'Copse', 'Times New Roman', serif;
	font-size: 16px;
	line-height: 17px;
	margin: 0;
	padding:0;
	min-height: 100vh;
	color:#666666;
}
.header{
	background: #f8f8f8;
    margin-bottom: 40px;
}
img{
	max-width: 100%;
}
h1,h2,h3,h4,h5,nav ul li,
p.truePlace,.media,.page-link{
	font-family: Multicolore, Helvetica, Arial, san-serif;
	font-weight: normal;
	font-style: normal;
	text-transform:uppercase;
	color:#686259;
    margin: 0;
    padding:0;
}
h1{
	font-size:32px;
	line-height:34px;
	margin-bottom:30px;
}
h2{
	font-size:22px;
	xline-height:20px;
	margin-bottom:30px;
	padding:7px 15px 2px;
	background: #686259;
	color:#FFFFFF;
}
h3{
	font-size:20px;
	line-height:22px;
	margin-bottom:20px;
}
h4{
	font-size:14px;
	line-height:16px;
	color:#8B8B8B;
}
h5{
	font-size:14px;
	line-height:16px;
}
p{
    margin: 0 0 20px 0;
    padding: 0;
}
a{

}
a:hover{

}
#logo{

}
#logo img{
 margin: 20px 0;
}
.row{

}
.row.inner{

}
.button{
	font-size:12px;
	padding:8px 10px;
	border-radius:5px;
	border:none;
	background:#80C3D4;
	text-transform:uppercase;
	color:#FFFFFF;
	margin:10px auto;
}
.button:hover{
	border:none;
	background:#80d3f4;
	color:#FFFFFF;
}
.button.posts{
	background-image:url(/assets/2016/img/icon-btn-arrow.png);
	background-position:center right;
	background-repeat:no-repeat;
	padding-right:24px;
}
.button.orange{
	padding:8px 10px;
	border-radius:5px;
	border:none;
	background:#EDAE3D;
	text-transform:uppercase;
	color:#FFFFFF;
	margin:10px auto;
}
.button.orange:hover{
	border:none;
	background:#E8C25D;
	color:#FFFFFF;
}

a.green-text,
.green-text{
	color:#90BF84 !important;
}
a.yellow-text,
.yellow-text{
	color:#EEAF3D !important;
}
a.orange-text,
.orange-text{
	color:#DF6608 !important;
}
a.red-text,
.red-text{
	color:#D8413C !important;
}
a.blue-text,
.blue-text{
	color:#80C3D6 !important;
}
a.black-text,
.black-text{
	color: #000000 !important;
}


a.underline{
	text-decoration: underline;
}
.valign-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer{
	margin-top: 60px;
	border-top:1px solid #A7A7A7;
}
ul.social, ul.links, ul.connect{
    padding: 0;
	margin:10px 0;
	color:#A7A7A7;
}
ul.social, ul.connect{
	text-align:left;
}
ul.links{
	text-align:right;
}
ul.social li, ul.connect li{
	display:inline;
	margin-right:5px;
}
ul.links li{
	display:inline;
	margin-left:5px;
}
ul.social li img, ul.connect li img{
	margin-bottom:-10px;
}
ul.links li a{
	color:#A7A7A7;
}

.media,
.page-link{
    margin-top: 30px;
}
.media a{
    background: url("/assets/2016/img/icon-media.png") no-repeat left top;
}
.page-link a{
    background: url("/assets/2016/img/icon-link.png") no-repeat left top;
}
.media a{
    padding: 10px 0 15px 60px;
    text-transform: uppercase;
    color:#686259;
}
.page-link a{
    padding: 5px 0 25px 60px;
    text-transform: uppercase;
    color:#686259;
}
ul.accordion{
    margin: 0;
    padding: 0;
}
ul.accordion li{
    list-style-type: none;
    margin: 0;
}
ul.accordion li h4{
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 0;
    cursor: pointer;
}
ul.accordion li:nth-child(3n+1) h4{
    color: #D8413C;
}
ul.accordion li:nth-child(3n+2) h4{
    color: #90BF84;
}
ul.accordion li:nth-child(3n+3) h4{
    color: #80C3D6;
}
ul.accordion li div{
    display:none;
    margin-bottom:15px;
    margin-right:50px;
}
.default-shortcode{

}
#cptui .entry-thumbnail{
	width:166px !important;
}
#cptui .cptui-entry{
	background: #F8F8F8;
	width:166px;
	height:166px;
	padding: 0 !important;
	float:left !important;
	margin: 0 20px 20px 0 !important;
	text-align: center;
	position:relative;
}
#cptui .cptui-entry img{
	padding: 5px 0;
}
#cptui .cptui-entry:nth-child(6n+6){
	margin: 0 0 20px 0 !important;
}
#cptui .entry-header,
#cptui .entry-summary{
	display:none;
}
#cptui .cptui-entry .entry-summary{
	position:absolute;
	z-index:100;
	width:250px !important;
	text-align: left;
	border: 1px solid #999999;
	box-shadow: 0 0 8px #666666;
	padding: 20px 20px 0 20px !important;
	background: #ffffff;
}
#cptui .cptui-entry:hover .entry-summary{
    display:block;
}
#cptui .cptui-entry .entry-summary ul li{
	list-style: circle;
	margin: 10px;
	padding: 10px;
}


/*--------------------------------------------------------------
## Responsive 21-07-2016
--------------------------------------------------------------*/

.desktop{
	display: block;
}
.mobile{
	display: none;
}
@media only screen and (max-width: 1024px){

}

@media only screen and (max-width: 659px) and (max-width: 1023px) {

}

@media only screen and (max-width: 660px) {

}