body{
    padding-top: 60px;
}
.menu{
    color:#686259;
    margin: 5px 10px;
    position: absolute;
    top:20px;
    right:20px;
}
nav{

    padding: 0;
    margin: 0;
    width:100%;
}
nav ul{
    z-index: 9999;
    display: none;
    text-align:left;
    margin: 60px 0 0;
    position: absolute;
    left: 0;
    top:60px;
    width:100%;
    background: #8B8B8B;
}
nav ul li{
    display:block;
    font-size: 18px;
    margin: 0;
}
nav ul li a{
    display: block;
    color: #FFFFFF !important;
    padding: 10px 10px;
    text-decoration:none;
}
nav ul li a:focus,
nav ul li a:visited{
    color: #686259;
}

nav ul li a:active,
nav ul li a:hover{
    color: #686259;
    text-decoration: underline;
}
nav ul li:last-child a {
    padding-right: 0;
}

nav ul li ul{
    display:none;
    background: #444444;
    position: relative;
    left:0;
    top:0;
    clear: both;
    width:100%;
}
nav ul li ul li{
    display: block;
    border-bottom:1px solid #bbbbbb;
}
nav ul ul li a{
    display: block;
}

/**/

/**/

/* Large size (Tablet landscape and higher) */
@media (min-width: 1000px) {
    body{
        padding-top: 0;
    }
    .menu{
        display: none;
    }
    .nav{
        text-align: right;
    }
    nav{
        position: relative;
        padding: 0;
        z-index: auto;
        width:100%;
    }
    nav ul{
        z-index: 9999;
        display: block;
        text-align:right;
        position: absolute;
        right: 0;
        top:15px;
        width:100%;
        background:none;
    }
    nav ul li{
        display:inline-block;
        position: relative;
        height:auto;
        padding: 0;
        margin: 0;
        width:auto;
    }
    nav ul li a{
        display:block;
        padding: 8px 10px;
        color: #686259 !important;
    }
    nav ul li:first-child a{
        padding-left: 0;
    }
    nav ul li:last-child a{
        padding-right: 0;
    }

    nav ul li ul{
        display: block;
        opacity:0;
        background: #333333;
        position: absolute;
        left:0;
        top:100%;
        clear: both;
        z-index: 10;
        width:auto;
        -webkit-transition:all 0.5s;
        transition: all 1s;
    }
    nav ul li ul li{
        display: block;
        border-bottom:1px solid #bbbbbb;
        width: auto;
        float: none;
        width:200px;
    }
    nav ul ul li a{
        display: block;
    }

    nav ul li:hover ul{
        opacity:1;
        -webkit-transition:all 1s;
        transition: all 1s;
    }
}