/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.fluid.container{
  max-width: 100%;
}
.col {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
.row{
  width:100%;
  margin:0;
}
.col .row{
  width:98%;
  margin:auto;
  min-height: 20px;
}
.s1              { width: 8.333%;  }
.s2              { width: 16.666%; }
.s3              { width: 25%;     }
.s4              { width: 33.333%; }
.s5              { width: 41.666%; }
.s6              { width: 50%;     }
.s7              { width: 58.333%; }
.s8              { width: 66.666%; }
.s9              { width: 75%;     }
.s10             { width: 83.333%; }
.s11             { width: 91.666%; }
.s12             { width: 100%;    }

/* Offsets */
.offset-s1       { margin-left: 8.333%;  }
.offset-s2       { margin-left: 16.666%; }
.offset-s3       { margin-left: 25%;     }
.offset-s4       { margin-left: 33.333%; }
.offset-s5       { margin-left: 41.666%; }
.offset-s6       { margin-left: 50%;     }
.offset-s7       { margin-left: 58.333%; }
.offset-s8       { margin-left: 66.666%; }
.offset-s9       { margin-left: 75%;     }
.offset-s10      { margin-left: 83.333%; }
.offset-s11      { margin-left: 91.666%; }

/* Offsets */
.outset-s1       { margin-right: 8.333%;  }
.outset-s2       { margin-right: 16.666%; }
.outset-s3       { margin-right: 25%;     }
.outset-s4       { margin-right: 33.333%; }
.outset-s5       { margin-right: 41.666%; }
.outset-s6       { margin-right: 50%;     }
.outset-s7       { margin-right: 58.333%; }
.outset-s8       { margin-right: 66.666%; }
.outset-s9       { margin-right: 75%;     }
.outset-s10      { margin-right: 83.333%; }
.outset-s11      { margin-right: 91.666%; }

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 100%;
    padding: 0;
  }
  .m1              { width: 8.333%;  }
  .m2              { width: 16.666%; }
  .m3              { width: 25%;     }
  .m4              { width: 33.333%; }
  .m5              { width: 41.666%; }
  .m6              { width: 50%;     }
  .m7              { width: 58.333%; }
  .m8              { width: 66.666%; }
  .m9              { width: 75%;     }
  .m10             { width: 83.333%; }
  .m11             { width: 91.666%; }
  .m12             { width: 100%;    }

  /* Offsets */
  .offset-m1       { margin-left: 8.333%;  }
  .offset-m2       { margin-left: 16.666%; }
  .offset-m3       { margin-left: 25%;     }
  .offset-m4       { margin-left: 33.333%; }
  .offset-m5       { margin-left: 41.666%; }
  .offset-m6       { margin-left: 50%;     }
  .offset-m7       { margin-left: 58.333%; }
  .offset-m8       { margin-left: 66.666%; }
  .offset-m9       { margin-left: 75%;     }
  .offset-m10      { margin-left: 83.333%; }
  .offset-m11      { margin-left: 91.666%; }

  /* Offsets */
  .outset-m1       { margin-right: 8.333%;  }
  .outset-m2       { margin-right: 16.666%; }
  .outset-m3       { margin-right: 25%;     }
  .outset-m4       { margin-right: 33.333%; }
  .outset-m5       { margin-right: 41.666%; }
  .outset-m6       { margin-right: 50%;     }
  .outset-m7       { margin-right: 58.333%; }
  .outset-m8       { margin-right: 66.666%; }
  .outset-m9       { margin-right: 75%;     }
  .outset-m10      { margin-right: 83.333%; }
  .outset-m11      { margin-right: 91.666%; }
}

/* For devices larger than 1000px */
@media (min-width: 1000px) {
  .container {
    width: 98%; }
  .col { margin:0; }

  .l1              { width: 8.333%;  }
  .l2              { width: 16.666%; }
  .l3              { width: 25%;     }
  .l4              { width: 33.333%; }
  .l5              { width: 41.666%; }
  .l6              { width: 50%;     }
  .l7              { width: 58.333%; }
  .l8              { width: 66.666%; }
  .l9              { width: 75%;     }
  .l10             { width: 83.333%; }
  .l11             { width: 91.666%; }
  .l12             { width: 100%;    }

  /* Offsets */
  .offset-l1       { margin-left: 8.333%;  }
  .offset-l2       { margin-left: 16.666%; }
  .offset-l3       { margin-left: 25%;     }
  .offset-l4       { margin-left: 33.333%; }
  .offset-l5       { margin-left: 41.666%; }
  .offset-l6       { margin-left: 50%;     }
  .offset-l7       { margin-left: 58.333%; }
  .offset-l8       { margin-left: 66.666%; }
  .offset-l9       { margin-left: 75%;     }
  .offset-l10      { margin-left: 83.333%; }
  .offset-l11      { margin-left: 91.666%; }

/* Offsets */
  .outset-l1       { margin-right: 8.333%;  }
  .outset-l2       { margin-right: 16.666%; }
  .outset-l3       { margin-right: 25%;     }
  .outset-l4       { margin-right: 33.333%; }
  .outset-l5       { margin-right: 41.666%; }
  .outset-l6       { margin-right: 50%;     }
  .outset-l7       { margin-right: 58.333%; }
  .outset-l8       { margin-right: 66.666%; }
  .outset-l9       { margin-right: 75%;     }
  .outset-l10      { margin-right: 83.333%; }
  .outset-l11      { margin-right: 91.666%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }



/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
